@model Blog.WEB.UI.Models.LoginMemberModel

@using (Html.BeginForm("SignIn", "Home", FormMethod.Post, new { @id = "sign-in" }))
            {
@Html.ValidationSummary()
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { id = "sign-in-email", @placeholder = "Email", @class = "form-control", type = "email", value = "av17lost@gmail.com" } })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
<div class="form-group">
    @Html.LabelFor(m => m.Password)
                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { id = "sign-in-password", @placeholder = "Password", @class = "form-control", type = "password", value = "123456"} })
                    @Html.ValidationMessageFor(m => m.Password)
</div>
<div class="form-group">
    <p class="help-block"><a href="#" id="sign-up-link">or sign up</a></p>
</div>
<button type="submit" class="btn btn-default" id="submit-sign-in">Sign in</button>
}