@model Blog.WEB.UI.Models.RegisterMemberModel 

@using (Html.BeginForm("SignUp", "Home", FormMethod.Post, new { @id = "sign-up" }))
            {
@Html.ValidationSummary()
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { id = "sign-up-email", @placeholder = "Email", @class = "form-control", type = "email" } })
                    @Html.ValidationMessageFor(m => m.Email)                   
                </div>
<div class="form-group">
    @Html.LabelFor(m => m.Password)
                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { id = "sign-up-password", @placeholder = "Password", @class = "form-control", type = "password" } })
                    @Html.ValidationMessageFor(m => m.Password)                
</div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmedPassword)
                    @Html.EditorFor(m => m.ConfirmedPassword, new {htmlAttributes = new {id = "sign-up-rep-password", @placeholder = "Repeat password", @class = "form-control", type = "password"}})
                    @Html.ValidationMessageFor(m => m.ConfirmedPassword)
                </div>
<div class="form-group">
                        <p class="help-block"><a href="#" id="sign-in-link">Back to sign in</a></p>
                    </div>
<button type="submit" class="btn btn-default" id="submit-sign-up">Sign up</button>
}