@{
    ViewBag.Title = "My account";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int numberOfPublishedPosts = ViewBag.numberOfPublishedPosts;
    int numberOfRoughCopies = ViewBag.numberOfRoughCopies;
}

@section Style{
    <link rel="stylesheet" href="@Url.Content("~/Content/Pages/my-account.css")"/>
}

@section Body{
    @Html.Partial("_Navbar")
    <section class="content">
        <div class="row">
            <aside class="col-md-3 my-account-mng">
                <ul class="nav nav-pills nav-stacked">
                    <li id="add-new-post" class="list-group-item">Add new post
                    </li>
                    <li id="my-posts" class="list-group-item selected">
                        <span class="badge">@numberOfPublishedPosts</span>
                        My posts
                    </li>
                    <li id="rough-copies" class="list-group-item">
                        <span class="badge">@numberOfRoughCopies</span>
                        Rough copies
                    </li>
                    <li id="settings" class="list-group-item">Settings
                            <ul class="list-group set" id="sub-settings">
                                <li id="change-email" class="list-group-item">Change email</li>
                                <li id="change-password" class="list-group-item">Change password</li>
                                <li id="change-user-photo" class="list-group-item disabled">Change user photo</li>
                            </ul>
                    </li>
                </ul>
                <ul class="list-group">
                </ul>
            </aside>
            <section class="col-md-9 my-account">
                <div class="add-new-post">
                    @Html.Action("ShowAddArticle")
                </div>
                <div class="my-posts">
                </div>
                <div class="rough-copies">
                </div>
                <div class="change-email">
                    <form>
                        <div class="form-group">
                            <label for="oldEmail">Old email</label>
                            <input type="email" class="form-control" id="oldEmail" placeholder="Old email">
                        </div>
                        <div class="form-group">
                            <label for="newEmail">New email</label>
                            <input type="email" class="form-control" id="newEmail" placeholder="New email">
                        </div>
                        <button type="submit" class="btn btn-default">Change</button>
                    </form>
                </div>
                <div class="change-password">
                    <form>
                        <div class="form-group">
                            <label for="oldPassword">Old password</label>
                            <input type="password" class="form-control" id="oldPassword" placeholder="Old password">
                        </div>
                        <div class="form-group">
                            <label for="newPassword">New password</label>
                            <input type="password" class="form-control" id="newPassword" placeholder="New password">
                        </div>
                        <div class="form-group">
                            <label for="repeatPassword">Repeat password</label>
                            <input type="password" class="form-control" id="repeatPassword" placeholder="Repeat password">
                        </div>
                        <button type="submit" class="btn btn-default">Change</button>
                    </form>
                </div>
                <div class="change-user-photo">
                    <form>
                        <div class="form-group">
                            <label for="photo">Upload your new photo</label>
                            <input type="file" id="photo">
                        </div>
                        <button type="submit" class="btn btn-default">Change</button>
                    </form>
                </div>
            </section>
        </div>
    </section>
}

@section Scripts{
    <script src="~/Scripts/Libs/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/Pages/my-account.js"></script>
}
