@model IEnumerable<Blog.WEB.UI.Models.Article>

@foreach (Blog.WEB.UI.Models.Article item in Model)
{
    <article>
            <div class="title">
                @item.Title
            </div>
            <div class="meta-data">
                        <div class="post-date">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>@item.PublishDate.Value.ToShortDateString()
                        </div>
                        <div class="category">
                            <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>@item.Category
                        </div>
                        <div class="number-comments">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>@item.NumberOfComments
                        </div>
                    </div>
            <div class="img img-responsive">
                @{
    if (@item.ArticleCover != "")
    {
        <img src="@Url.Content("~/Images/"+@item.ArticleCover)"/>            
    }
                }

            </div>
            <div class="more-content">
                @Html.Raw(@item.Content)
            </div>
         @Html.ActionLink("Read more","Index","Article",new {id = @item.ArticleId},new { @class="read-more-btn"})
    </article>
}
